@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

:root{
  --primary-color: #9749f8;
  --font-family: "Anton", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  max-width: 1500px;
}
.fixed-banner .heading{
  font-family: var(--font-family);
}
.btn {
  padding: 10px 25px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 16px;
}
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}
.btn-secondary {
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--primary-color);
}
:root{
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
}
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
/* Shooting stars animation */
.banner-shooting-star{
  position: absolute;
  top:50%;
  left:50%;
  width: 4px;
  height: 4px;
  background: #9749f8;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 3s linear infinite;
}
.banner-shooting-star::before{
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#9749f8,transparent);
}
.banner-shooting-star:nth-child(1){
  top: -10px;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
.banner-shooting-star:nth-child(2){
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
.banner-shooting-star:nth-child(3){
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
.banner-shooting-star:nth-child(4){
  top: -10px;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.banner-shooting-star:nth-child(5){
  top: -10px;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
@keyframes animate{
  0%
  {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70%
  {
    opacity: 1;
  }
  100%
  {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
